<head>
    <title>Cntnt_agrgtr</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'font/font-faces.css' %}"></link>
    <link rel="stylesheet" href = "{% static 'get_cntnt/style.css' %}"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% csrf_token %}
<script>
    jQuery(document).ready(function(){
        const csrftoken = jQuery('[name=csrfmiddlewaretoken]').val()
        jQuery('.add_to_lovelist_btn').click(function(e){
            e.preventDefault();
            source_id = jQuery(this).data('id')
            jQuery.ajax({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                url:"{% url 'addtolovelist' %}",
                data: {"source_id" : source_id},
                type:"post",
                success: function(data){
                    alert(data)
                },
                failure: function(data) { 
                    alert('Got an error dude');
                }
            })
        })
    });
</script>

<header>
    <nav role="main-navigation" id = "main-nav">
        <div><img scr = {% static 'get_cntnt/logo.png' %}></div>
        <ul>
            <li>
                <form action="{% url 'home' %}">
                    <input type="search" name="search">
                    <button type="submit">Search</button>
                </form>
            </li>
            <li><a href="{% url 'home' %}">Главная</a></li>
            {% if CAT_CHOICES %}
                {% for name, desc in CAT_CHOICES.items %}
                    <li><a href="{% url 'cat' name %}">{{ desc }}</a></li>
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">{{ user }}</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% if latest_news %}

    <div class = 'main'>
    {% for source, news in latest_news.items %}
        <div class="news-block">
        <h2><a href="{{ source.url }}">{{ source.name }}</a></h2>
        {% if user.is_authenticated %}
            <span class = "add_to_lovelist_btn" data-id = "{{ source.id }}">Add to love list</span>
        {% endif %}
            <ul>
                {% for new in news %}
                <li class = "news-text"><a href="{{ new.url }}" onmouseover="show()" onmouseleave="hide()" class="link-with-preview" data-text="{{ new.snippet }}">{{ new.news_text }}</a><span class="newsdate">{{ new.pub_time|time }}</span></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>На данный момент нет новостей.</p>
{% endif %}
<div class="snippet"><p></p></div>
<script>
    const snippet = document.querySelector(".snippet");

    const hide = () => {
        return snippet.style.display = 'none';
};

    const show = event => {
        const text = event.currentTarget.getAttribute("data-text");
        snippet.querySelector('p').textContent = text;

        event.currentTarget.appendChild(snippet);

        return snippet.style.display = 'inline-block';
    };
    document.querySelectorAll(".link-with-preview").forEach(el => {
        el.addEventListener("mouseover", show);
        el.addEventListener("mouseleave", hide)
    });
</script>
</body>
