<head>
    <title>Cntnt_agrgtr</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'font/font-faces.css' %}"></link>
    <link rel="stylesheet" href = "{% static 'get_cntnt/style.css' %}"></link>
</head>
<body>
<header>
    <nav role="main-navigation" id = "main-nav">
        <div><img scr = {% static "get_cntnt/logo.png" %}></div>
        <ul>
            <li><a href="{% url 'get_cntnt:index' %}">Главная</a></li>
            {% if CAT_CHOICES %}
                {% for name, desc in CAT_CHOICES.items %}
                    <li><a href="{% url 'get_cntnt:cat' name %}">{{ desc }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</header>
{% if latest_news %}

    <div class = 'main'>
    {% for source, news in latest_news.items %}
        <div class="news-block">
        <h2><a href="source.url">{{ source.name }}</a></h2>
            <ul>
                {% for new in news %}
                <li class = "news-text"><a href="{{ new.url }}">{{ new.news_text }}</a><span class="newsdate">{{ new.pub_time|time }}</span>
                <div class = "snippet">{{ news.snippet }}</div></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>На данный момент нет новостей.</p>
{% endif %}

</body>
