<h1>Зарегистрироваться</h1>
<p>Заполните эту форму, чтобы создать учетную запись.</p>
<form method="POST" action="">
    {% csrf_token %}
    <div class="registration">

        <label for="username">Логин</label>
        <div>{{ form.username }}</div>

        <label for="email">Email</label>
        <div>{{ form.email }}</div>

        <label for="password">Пароль</label>
        <div>{{ form.password1 }}</div>

        <label for="password-repeat">Повторите пароль</label>
        <div>{{ form.password2 }}</div>

    </div>

    <button type="submit" class="registerbtn">Register</button>

</form>
<a href="{% url 'login' %}">login</a>